extends layout

block content
  .dropdown
    h2(id="hzwei")= article.title
      img(src='/img/' + article.title + '.png' alt='Logo')
      button.btn.btn-outline-primary.float-right.dropdown-toggle(type='button', data-toggle='dropdown')
        | Edit
        i.far.fa-edit
      .dropdown-menu
        a.btn.dropdown-item(href='#') Titel ändern
        br
        a.btn.dropdown-item.btn-outline-primary(href='#') Liste erweitern
  
  h5 Erstellt von #{article.author} am #{article.date}
  p= article.body
  hr
  a.btn.btn-outline-danger.delete-article(href='#', data-id=article._id) Delete 
    i.far.fa-trash-alt